__pycache__/
*.py[cod]
venv/
.env
*.pt
src/model/best.pt
.DS_Store
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv
ENV/
.idea/
.vscode/
*.swp
