flask==2.3.3
werkzeug==2.3.7
ultralytics==8.1.8
opencv-python-headless==4.8.1.78
numpy>=1.24.3
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
torchvision==0.16.0+cpu
pillow>=9.5.0
requests>=2.31.0
gunicorn==21.2.0
streamlit>=1.31.0
python-dotenv>=1.0.0
setuptools>=65.5.1
wheel>=0.38.0