flask==2.3.3
werkzeug==2.3.7
ultralytics==8.0.0
opencv-python-headless==4.7.0.72
numpy==1.23.5
torch==1.13.1+cpu
torchvision==0.14.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
pillow==9.5.0
requests==2.31.0